

.App-header{
    text-align: center;
    color: aliceblue;
}

.App-header h1{
    margin-bottom: 0;

    @media (max-width:850px){
        margin-top: 0;
        font-size: 1rem;
    }
}

.App-header p{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    @media (max-width:850px){
        margin-bottom: .25rem;
        font-size: 1rem;

    }
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

}


.container img{
   width:420px;
   height:280px;
   object-fit:fill;
   border-radius: 1rem;

   @media (max-width:850px){
       width:250px;
       height:166px;

    } 
}

.container img {
    transition: filter 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
  

.container img:hover {
    filter: brightness(1.05);
    box-shadow: 0 0 20px 20px rgba(118, 250, 255, 0.3);
    @media (max-width:850px){
        box-shadow: none
 
     } 
}
  



*{
    background-color: rgb(81, 42, 181);
}

.loading{
    color: aliceblue;

    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    justify-items: center;
    margin-top: auto;
    padding-top: 100px;
    margin-bottom: auto;

    animation: glowing 2s infinite;
    /* color: #ff0000; */
}

@keyframes glowing {
    0% { text-shadow: 0 0 10px #ff0000 }
    50% { text-shadow: 0 0 50px #ff0000}
    100% { text-shadow: 0 0 10px #ff0000 }
  }
  